@charset "UFT-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --darkblue: #313E59;
    --darkmidblue: #46587a;
    --mediumblue: #54678C;
    --midblue: #889ABF;
    --lightblue: #B4C0D9;
    --darkblue2: #212E40;
    --white: #FFFFFF;
}

body {
    background-color: var(--darkmidblue);
    font-family: "Lato";
    height: 100vh;

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .8rem;
    background-color: var(--darkblue);
    min-height: 50px;

}
.box-img{
    max-width: 60px;
    height: 100%;

}

nav{
    display: flex; /* Layout flexível */
    gap: 2rem; /* Espaço entre links */
    justify-content: center; /* Centraliza */
    align-items: center; /* Alinha verticalmente */
    flex-wrap: wrap; /* Permite quebra */
}

.nav-links {
    text-decoration: none;
    color: var(--white);
    padding: 1rem;
    transition: .4s;    
}

.nav-links:hover{
    color: var(--lightblue); /* Muda cor */
    transition: .4s; /* Animação suave */

}
.box-btn-actions{
    display: flex;
    gap: 1rem;
}

.btn-actions{
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    width: 100px;
}
.btn-actions:hover{
    border: 1px solid var(--lightblue);
    color: var(--lightblue);
}
    

button, .link-action{
    padding: .6rem;
    font-size: .9rem;
    border-radius: 6px;
    cursor: pointer;
    transition: .4s;
    text-decoration: none;
    text-align: center;
    width: 100px;
}


main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section{
    padding: 4rem;
}

.first-section{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    min-height: 600px ;
}

.first-section > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 300px;
}

h1{
    font-size: 3rem;
    color: var(--white);
    letter-spacing: 5px;

}
strong{
    color:#B4C0D9;
}
.first-section p{
    color:#FFFFFF;

}

.box-img-main{
    max-width: 450px;
    padding: 1rem;
}

.img-perfil{
    border-radius: 50%;
    width: 100%;
}

.second-section, .fourth-section{
    background-color: var(--darkblue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.second-section>ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.second-section ul li{
    color: var(--lightblue);
    letter-spacing: 2px;
    font-weight: bold;
}

.title{
    color:var(--white)
}

.second-section ul li:hover{
    color: var(--white);
    transition: .2s;
    cursor: default;
}

.third-section{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.third-section> div{
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}

.third-section> div img{
    width: 500px;
    border-radius: 10px;
}

.third-section> div p{
    max-width: 600px;
    color: var(--white);
    text-align: justify;
}
.third-section> h2{
    text-align: center;
}


footer{
    padding: 4rem;
    justify-content: center;
    gap: 2rem;
}


h2{
    text-align: center;
}

footer>div{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}


footer> div{
    display: flex;
    justify-content: center;
    gap: 4  rem;
    flex-wrap: wrap;
}