@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --cor1: #034159; 
    --cor2: #025951; /*cor desataque*/
    --cor3: #02735E;
    --cor4: #038C3E;
    --cor5: #0CF25D; /*cor principal*/
}

body{
    background-color: #0CF25D;
    font-family: "Lato";
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1erm;
    flex-wrap: wrap;
    padding: .8rem;
    background-color: var(--cor1);
    min-height: 50px;
}

.nav-links{
    text-decoration: none;
    color: var(--cor5);
}

